version: "3.9"

services:
  backend:
    build: ./backend
    container_name: api-pokemon-backend
    ports:
      - "3000:3000"
    restart: always

  frontend:
    build: ./frontend
    container_name: api-pokemon-frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always
